.inventory {
  &__item {
    display: flex;
    align-items: center;
    padding: 6px 10px;
  }

  &__item-icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background-repeat: no-repeat;
  }

  &__item-name {
    flex-grow: 1;
  }
}
