.build-dialog {
  &__item {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 8px;
  }

  &__item-title {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__item-count {
    flex-shrink: 0;
  }

  &__current {
    font-weight: bold;
  }

  &__item-actions {
    margin-left: 8px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  &__build-btn {
    padding: 8px 12px;
    font-size: 18px;
  }
}
