.sprite {
  position: absolute;

  &__img {
    display: block;

    &:hover {
      outline: 1px solid #6086ce;
    }

    &_no-action {
      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -4px;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 15px;
    font-style: normal;
    transform: translate(-50%, -100%);
    color: #000;
    background: #fff;
  }
}
