.sprite {
  position: absolute;
  font-style: normal;
  pointer-events: none;

  & > * {
    pointer-events: initial;
  }

  &:hover &__title {
    color: #000;
    background: #fff;
  }

  &__img {
    display: block;

    &:hover {
      outline: 1px solid #6086ce;
    }

    &_no-action {
      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    top: -16px;
    max-width: 200px;
    margin-top: -4px;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 15px;
    font-style: normal;
    transform: translate(-50%, -100%);
    color: rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__build-percent {
    position: absolute;
    top: 0;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
  }
}
